@import "reset";
@import "variables";
@import "navegador";
@import "carrito-compras";


.encabezado{
    background-image: url(../multimedia/imagenes/fotoencabezado.jpeg);
    width: 100%;
    height: 450px;
    background-size: cover;
    text-align: center;
    object-fit: cover;
    h1 {
    font-size: 100px;
    color: black;
    text-shadow: 4px 3px 0 #7A7A7A, -9px -13px 5px rgba(222,222,222,0.49);
    }

}
@media(max-width:380px){
    .encabezado{
        background-image: url(../multimedia/imagenes/fotoencabezado.jpeg);
        width: 100%;
        height: 450px;
        background-size: cover;
        text-align: center;
        object-fit: cover;
        h1 {
           font-size: 40px;
           color: black;
           text-shadow: 4px 3px 0 #7A7A7A, -9px -13px 5px rgba(222,222,222,0.49);
        }
       
    }
    
}
@media(max-width:157px){
    .encabezado{
        background-image: url(../multimedia/imagenes/fotoencabezado.jpeg);
        width: 100%;
        height: 450px;
        background-size: cover;
        text-align: center;
        object-fit: cover;
        h1 {
           font-size: 20px;
           color: black;
           text-shadow: 4px 3px 0 #7A7A7A, -9px -13px 5px rgba(222,222,222,0.49);
        }
       
    }
    .nueva-coleccion{
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        text-shadow: 2px 2px 2px rgba(206,206,206,0.72);
        margin: 20px;
    }
    
}
.nueva-coleccion{
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(206,206,206,0.72);
    margin: 20px;
}
@media(max-width:220px){
    
    .nueva-coleccion{
        font-size: 20px
    }

}
.texto{
    font-size: 30px;
    text-decoration: none;
    color: black;
    text-align: center;
}
@media(max-width:1000px){
    .texto{
        font-size: 20px;
       
    }

}
@media(max-width:600px){
    .texto{
        font-size: 15px;
       
    }

}


@import "productos";
@import "formularios";
@import "grid-tarjeta";
@import "encuentranos";
@import "tarjetafooter";
@import "footer";
@import "whatsapp";